In [1]:
print('Hello World')

Hello World

In [2]:
sales = 57000
print(sales)

57000

In [6]:
expenses = 57.68
clean_audit_opinion = True
company_name = 'ACME'
print(type(expenses))
print(type(clean_audit_opinion))
print(type(company_name))

<class 'float'>
<class 'bool'>
<class 'str'>

In [7]:
print(expenses)
print(int(expenses))
print(expenses)
print(type(expenses))
print(type(int(expenses)))

expenses = int(expenses)
print(expenses)
print(type(expenses))

57.68
57
57.68
<class 'float'>
<class 'int'>
57
<class 'int'>

In [8]:
print(expenses)
expenses = int(expenses)
print(expenses)

57
57

In [9]:
list_test = [99, True, 'test']

In [10]:
print(list_test)

[99, True, 'test']

In [11]:
print(type(list_test))

<class 'list'>

In [12]:
list_test.count

In [14]:
list_example = [10, 100, 1000, 10000, 'large']

In [15]:
list_example = [10, 100, 1000, 10000, 'large']

In [16]:
print(list_example)

[10, 100, 1000, 10000, 'large']

In [17]:
print(list_example[4])

large

In [18]:
print(list_example[-4])

100

In [19]:
city_name = 'San Diego'
print(city_name[4])
print(city_name[-3])

D
e

In [20]:
print(list_example[:3])

[10, 100, 1000]

In [21]:
print(list_example[:4])

[10, 100, 1000, 10000]

In [22]:
print(list_example[0:3])

[10, 100, 1000]

In [23]:
print(list_example[-4:-2])

[100, 1000]

In [24]:
print(list_example[:-2])

[10, 100, 1000]

In [25]:
print(list_example[-4:])

[100, 1000, 10000, 'large']

In [26]:
print(list_example[-2:])

[10000, 'large']

In [27]:
print(city_name[:4])

San

In [28]:
print(city_name[-5:])

Diego

In [29]:
print(city_name[-5:0])

In [30]:
print(city_name[-5:-1])

Dieg

In [31]:
print(city_name[-5:1])

In [34]:
print('San', city_name[-5:])

San Diego

In [3]:
list_example = [10, 100, 1000, 10000, 'large']

In [5]:
print(list_example[1:3])

[100, 1000]

In [6]:
print(list_example[::2])

[10, 1000, 'large']

In [7]:
print(list_example[1::3])

[100, 'large']

In [8]:
print(list_example[1::2])

[100, 10000]

In [9]:
print(list_example[0::2])

[10, 1000, 'large']

In [10]:
print(list_example[::-4])

['large', 10]

In [11]:
print(list_example[3::-4])

[10000]

In [12]:
print(list_example[4:0:-4])

['large']

In [13]:
print(reversed(list_example))

<list_reverseiterator object at 0x104b453d0>

In [14]:
reverse_list_example = list_example[::-1]

In [15]:
print(reverse_list_example)

['large', 10000, 1000, 100, 10]

In [16]:
print(reverse_list_example[3::1])

[100, 10]

In [17]:
print(reverse_list_example[3::])

[100, 10]

In [18]:
print(reverse_list_example[1::])

[10000, 1000, 100, 10]

In [19]:
print(reverse_list_example[-4::])

[10000, 1000, 100, 10]

In [20]:
print(list_example[3::-1])

[10000, 1000, 100, 10]

In [25]:
print(list_example[3::-1])

[10000, 1000, 100, 10]

In [29]:
print(list_example[-2::-1])

[10000, 1000, 100, 10]

In [34]:
print(list_example[3::-2])

[10000, 100]

In [35]:
print(list_example[4])

large

In [36]:
print(list_example[-4])

100

In [48]:
print(list_example[1::2])

[100, 10000]

In [49]:
s = [1, 10]

In [50]:
print(s)

[1, 10]

In [52]:
list_example.append('very_large')

In [53]:
print(list_example)

[10, 100, 1000, 10000, 'large', 'very_large']

In [54]:
list_example.append([101, 102])

In [55]:
t = [45, 22, 50]

In [56]:
s.extend(t)

In [57]:
print(s)

[1, 10, 45, 22, 50]

In [58]:
s.append(t)

In [59]:
print(s)

[1, 10, 45, 22, 50, [45, 22, 50]]

In [60]:
list_example.extend(['even_larger', 'the_largest'])

In [61]:
print(list_example)

[10, 100, 1000, 10000, 'large', 'very_large', [101, 102], 'even_larger', 'the_largest']

In [62]:
s +=t

In [63]:
print(s)

[1, 10, 45, 22, 50, [45, 22, 50], 45, 22, 50]

In [64]:
list_example += [1, 2, 3, 4]

In [65]:
print(list_example)

[10, 100, 1000, 10000, 'large', 'very_large', [101, 102], 'even_larger', 'the_largest', 1, 2, 3, 4]

In [66]:
list_example.remove('even_larger')

In [67]:
print(list_example)

[10, 100, 1000, 10000, 'large', 'very_large', [101, 102], 'the_largest', 1, 2, 3, 4]

In [68]:
list_example.remove([101, 102])

In [69]:
print(list_example)

[10, 100, 1000, 10000, 'large', 'very_large', 'the_largest', 1, 2, 3, 4]

In [70]:
del list_example[2]

In [71]:
print(list_example)

[10, 100, 10000, 'large', 'very_large', 'the_largest', 1, 2, 3, 4]

In [72]:
del list_example[-4:]

In [73]:
print(list_example)

[10, 100, 10000, 'large', 'very_large', 'the_largest']

In [74]:
del list_example

In [80]:
list_example = ['large', 10000, 100, 10, 'very_large']

In [81]:
print(list_example)

['large', 10000, 100, 10, 'very_large']

In [82]:
list_example.append('the largest')

In [83]:
list_example += [101, 102]

In [84]:
print(list_example)

['large', 10000, 100, 10, 'very_large', 'the largest', 101, 102]

In [86]:
del list_example [-2:]

In [87]:
list_example.extend([101, 102])

In [88]:
print(list_example)

['large', 10000, 100, 10, 'very_large', 'the largest', 101, 102]

In [89]:
del list_example [-2:]

In [90]:
list_example.append([101, 102])

In [93]:
print(list_example
     )

['large', 10000, 100, 10, 'very_large', 'the largest', [101, 102]]

In [95]:
list_example.index(100)

2

In [96]:
print(list_example.index(100))

2

In [97]:
print(str([101, 102] in list_example))

True

In [99]:
print(str('even_larger' in list_example))

False

In [101]:
print(list_example.index([101, 102]))

6

In [102]:
print([101, 102] in list_example)

True

In [103]:
list_example.append(10000)

In [104]:
city_name = 'San Diego'

In [105]:
print(list_example.index(10000))

1

In [107]:
print(list_example.index(10000, list_example.index(10000)+1))

7

In [109]:
print(city_name[city_name.index(' ')+1:])

Diego

In [110]:
print(city_name.index(' '))

3

In [111]:
print(city_name[:city_name.index(' ')])

San

In [113]:
print(list_example)

['large', 10000, 100, 10, 'very_large', 'the largest', [101, 102], 10000]

In [114]:
print(max(list_example[1:4]+list_example[-1:]))

10000

In [115]:
print(min(list_example[1:4]+list_example[-1:]))

10

In [116]:
print(len(list_example))

8

In [117]:
print(list_example.count(10000))

2

In [118]:
acme_financials = {'expenses': 132, 'sales': 164, 'number_of_customers':1023}

In [119]:
print(acme_financials)

{'expenses': 132, 'sales': 164, 'number_of_customers': 1023}

In [120]:
acme_multiple_financials = {'expenses':[29, 32, 34, 37], 'sales':[38, 44, 42, 40], 'number_of_customers':[250, 261, 254, 258]}

In [121]:
print(acme_multiple_financials)

{'expenses': [29, 32, 34, 37], 'sales': [38, 44, 42, 40], 'number_of_customers': [250, 261, 254, 258]}

In [122]:
print(acme_financials['sales'])

164

In [123]:
print(acme_multiple_financials['sales'])

[38, 44, 42, 40]

In [124]:
print(acme_multiple_financials['sales'][1])

44

In [126]:
acme_multiple_financials['assets']=[378, 379, 376, 390]

In [127]:
print(acme_multiple_financials)

{'expenses': [29, 32, 34, 37], 'sales': [38, 44, 42, 40], 'number_of_customers': [250, 261, 254, 258], 'assets': [378, 379, 376, 390]}

In [128]:
acme_multiple_financials.update({'AR':[38, 37, 36, 39], 'AP':[78, 39, 76, 90]})

In [129]:
print(acme_multiple_financials)

{'expenses': [29, 32, 34, 37], 'sales': [38, 44, 42, 40], 'number_of_customers': [250, 261, 254, 258], 'assets': [378, 379, 376, 390], 'AR': [38, 37, 36, 39], 'AP': [78, 39, 76, 90]}

In [130]:
del acme_multiple_financials['assets']

In [131]:
print(acme_multiple_financials)

{'expenses': [29, 32, 34, 37], 'sales': [38, 44, 42, 40], 'number_of_customers': [250, 261, 254, 258], 'AR': [38, 37, 36, 39], 'AP': [78, 39, 76, 90]}

In [132]:
print(acme_multiple_financials['expenses'][0]+acme_multiple_financials['expenses'][1]+acme_multiple_financials['expenses'][2]+acme_multiple_financials['expenses'][3])

132

In [133]:
print(acme_multiple_financials['sales'][0]-acme_multiple_financials['expenses'][0])

9

In [134]:
print(acme_multiple_financials['sales'][0]/acme_multiple_financials['number_of_customers'][0])

0.152

In [142]:
print(acme_multiple_financials['sales'][0]==acme_multiple_financials['expenses'][0])

False

In [140]:
print(bool(False), bool(0), bool(''), bool(-1), bool('Hello'), bool(None))

False False False True True False

In [141]:
print(not acme_multiple_financials['sales'][0]==acme_multiple_financials['expenses'][0])

True

In [143]:
print(acme_multiple_financials['sales'][1]>acme_multiple_financials['sales'][0] or acme_multiple_financials['sales'][0]<acme_multiple_financials['sales'][2])

True

In [146]:
print((acme_multiple_financials['sales'][0] < acme_multiple_financials['sales'][1]) ^ (acme_multiple_financials['sales'][0] < acme_multiple_financials['sales'][2]))

False

In [145]:
print(acme_multiple_financials['sales'][1]>acme_multiple_financials['sales'][0] and acme_multiple_financials['sales'][0]<acme_multiple_financials['sales'][2])

True

In [147]:
print(acme_multiple_financials['sales'][0] < acme_multiple_financials['sales'][1] and acme_multiple_financials['sales'][0] < acme_multiple_financials['sales'][2])

True

In [148]:
sales_1 = 100

In [149]:
sales_2 = 0

In [152]:
print(sales_2 and (sales_1/sales_2)>0)

0

In [153]:
print(bool(sales_2))

False

In [154]:
sales_2 = 200

In [155]:
print(sales_2 and (sales_1/sales_2)>0)

True

In [156]:
sales= 120

In [157]:
prior_sales = 90

In [158]:
number_of_employees = 500

In [159]:
prior_number_of_employees = 490

In [160]:
abnormal_sales_growth = ((sales - prior_sales) / prior_sales) / ((number_of_employees - prior_number_of_employees) / prior_number_of_employees)

In [161]:
print(abnormal_sales_growth)

16.333333333333332

In [162]:
prior_number_of_employees = 500

In [163]:
abnormal_sales_growth = (number_of_employees - prior_number_of_employees) and ((sales - prior_sales) / prior_sales) / ((number_of_employees - prior_number_of_employees) / prior_number_of_employees)

In [164]:
print(abnormal_sales_growth)

0

In [165]:
abnormal_sales_growth = (number_of_employees - prior_number_of_employees) and ((sales - prior_sales) / prior_sales) / ((number_of_employees - prior_number_of_employees) / prior_number_of_employees) or None

In [166]:
print(abnormal_sales_growth)

None

In [167]:
prior_number_of_employees = 490

In [168]:
abnormal_sales_growth = (number_of_employees - prior_number_of_employees) and ((sales - prior_sales) / prior_sales) / ((number_of_employees - prior_number_of_employees) / prior_number_of_employees)

In [169]:
print(abnormal_sales_growth)

16.333333333333332

In [170]:
course_percent = 88

In [171]:
if course_percent >= 93:
    letter_grade = 'A'
elif course_percent >= 90:
    letter_grade = 'A-'
elif course_percent >= 87:
    letter_grade = 'B+'
elif course_percent >= 83:
    letter_grade = 'B'
elif course_percent >= 80:
    letter_grade = 'B-'
elif course_percent >= 77:
    letter_grade = 'C+'
elif course_percent >= 73:
    letter_grade = 'C'
elif course_percent >= 70:
    letter_grade = 'C-'
elif course_percent >= 67:
    letter_grade = 'D+'
elif course_percent >= 63:
    letter_grade = 'D'
elif course_percent >= 60:
    letter_grade = 'D-'
else:
    letter_grade = 'F'

In [172]:
print(letter_grade)

B+

In [173]:
for i in list_example:
    print(i)

large
10000
100
10
very_large
the largest
[101, 102]
10000

In [176]:
for i in list_example:
    if isinstance(i, int):
        print(i*2)

20000
200
20
20000

In [178]:
for i, v in enumerate(list_example):
    print(str(i) + ": " + str(v))

0: large
1: 10000
2: 100
3: 10
4: very_large
5: the largest
6: [101, 102]
7: 10000

In [179]:
for i, v in enumerate(list_example):
    print(i, v)

0 large
1 10000
2 100
3 10
4 very_large
5 the largest
6 [101, 102]
7 10000

In [180]:
for i, v in enumerate(list_example):
    print(i, ": ", v)

0 :  large
1 :  10000
2 :  100
3 :  10
4 :  very_large
5 :  the largest
6 :  [101, 102]
7 :  10000

In [181]:
for i, v in enumerate(list_example):
    if v == 10000:
        print(str(i) + ": " + str(v))

1: 10000
7: 10000

In [183]:
for i in range (1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [184]:
for i in range (1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [185]:
print([i for i in list_example])

['large', 10000, 100, 10, 'very_large', 'the largest', [101, 102], 10000]

In [187]:
print([i*2 for i in list_example if isinstance(i, int)])

[20000, 200, 20, 20000]

In [190]:
print([i*2 if isinstance(i, int) else i for i in list_example])

['large', 20000, 200, 20, 'very_large', 'the largest', [101, 102], 20000]

In [196]:
def add_numbers(number_1, number_2 = 10):
    return(number_1 + number_2)

In [197]:
print(add_numbers(1))

11

In [198]:
print(add_numbers(1, 5))

6

In [199]:
print(add_numbers(3, number_2 = 20))

23

In [204]:
def calculate_numbers(number_1, number_2 = 10, *numbers_3_to_n, **numbers_with_keys):
    print(numbers_3_to_n)
    print(numbers_with_keys)
    total = number_1 + number_2
    for tuple_number in numbers_3_to_n:
        total += tuple_number
        
    for operation, dictionary_number in numbers_with_keys.items():
        if operation == 'minus':
            total -= dictionary_number
        elif operation == 'multiply':
            total *= dictionary_number
    return total
calculate_numbers(3, 20, 10, 20, 7, minus = 10, multiply = 3)

(10, 20, 7)
{'minus': 10, 'multiply': 3}

150

In [205]:
def sum_numbers(numbers_1, numbers_2):
    return(numbers_1 + numbers_2)

In [206]:
print(sum_numbers(7, 3))

10

In [208]:
print(sum_numbers(4, 3*3))

13

In [209]:
def course_grade(course_percent):
    if course_percent >= 93:
        letter_grade = 'A'
    elif course_percent >= 90:
        letter_grade = 'A-'
    elif course_percent >= 87:
        letter_grade = 'B+'
    elif course_percent >= 83:
        letter_grade = 'B'
    elif course_percent >= 80:
        letter_grade = 'B-'
    elif course_percent >= 77:
        letter_grade = 'C+'
    elif course_percent >= 73:
        letter_grade = 'C'
    elif course_percent >= 70:
        letter_grade = 'C-'
    elif course_percent >= 67:
        letter_grade = 'D+'
    elif course_percent >= 63:
        letter_grade = 'D'
    elif course_percent >= 60:
        letter_grade = 'D-'
    else:
        letter_grade = 'F'
    return letter_grade
print (course_grade(80))

B-

In [210]:
print(course_grade(94))

A

In [211]:
print(course_grade(86))

B

In [212]:
course_scores = [86, 94, 80]
print([course_grade(score) for score in course_scores])

['B', 'A', 'B-']

In [213]:
print([course_grade(badscore) for badscore in course_scores])

['B', 'A', 'B-']

In [215]:
def course_grade(*course_percentages):
    letter_grade_list=[]
    for course_percent in course_percentages:
        if course_percent >= 93:
            letter_grade = 'A'
        elif course_percent >= 90:
            letter_grade = 'A-'
        elif course_percent >= 87:
            letter_grade = 'B+'
        elif course_percent >= 83:
            letter_grade = 'B'
        elif course_percent >= 80:
            letter_grade = 'B-'
        elif course_percent >= 77:
            letter_grade = 'C+'
        elif course_percent >= 73:
            letter_grade = 'C'
        elif course_percent >= 70:
            letter_grade = 'C-'
        elif course_percent >= 67:
            letter_grade = 'D+'
        elif course_percent >= 63:
            letter_grade = 'D'
        elif course_percent >= 60:
            letter_grade = 'D-'
        else:
            letter_grade = 'F'
        letter_grade_list.append(letter_grade)
    return letter_grade_list

In [216]:
print(course_grade(80, 94, 86, 72, 60))

['B-', 'A', 'B', 'C-', 'D-']

In [217]:
def course_grade(**student_course_percentages):
    letter_grade_dictionary = {}
    for name, course_percent in student_course_percentages.items():
        if course_percent >= 93:
            letter_grade = 'A'
        elif course_percent >= 90:
            letter_grade = 'A-'
        elif course_percent >= 87:
            letter_grade = 'B+'
        elif course_percent >= 83:
            letter_grade = 'B'
        elif course_percent >= 80:
            letter_grade = 'B-'
        elif course_percent >= 77:
            letter_grade = 'C+'
        elif course_percent >= 73:
            letter_grade = 'C'
        elif course_percent >= 70:
            letter_grade = 'C-'
        elif course_percent >= 67:
            letter_grade = 'D+'
        elif course_percent >= 63:
            letter_grade = 'D'
        elif course_percent >= 60:
            letter_grade = 'D-'
        else:
            letter_grade = 'F'
        letter_grade_dictionary[name] = letter_grade
    return letter_grade_dictionary

In [218]:
print(course_grade(Johan = 79, John = 90, Johannes = 86))

{'Johan': 'C+', 'John': 'A-', 'Johannes': 'B'}

In [219]:
converter = lambda x: x*2 if isinstance(x, int) else x
print(converter(10))
print(converter('large'))

20
large

In [220]:
print(list(map(converter, list_example)))

['large', 20000, 200, 20, 'very_large', 'the largest', [101, 102], 20000]

In [221]:
print(list(filter(converter, list_example)))

['large', 10000, 100, 10, 'very_large', 'the largest', [101, 102], 10000]

In [222]:
print([converter(i) for i in list_example])

['large', 20000, 200, 20, 'very_large', 'the largest', [101, 102], 20000]

In [227]:
print(list(filter(lambda x: isinstance(x, int), list_example)))

[10000, 100, 10, 10000]

In [228]:
print([i for i in list_example])

['large', 10000, 100, 10, 'very_large', 'the largest', [101, 102], 10000]

In [230]:
print([i for i in list_example if isinstance(i, int)])

[10000, 100, 10, 10000]